<ion-header>
  <ion-toolbar>
    <ion-title>{{ item.name }}</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div *ngFor="let item of item | async">
  <div class="item-profile" text-center #profilePic [style.background-image]="'url(' + item.pic + ')'">
  </div>

  <div class="item-detail" padding>
    <h2>{{item.title}}</h2>
    <p>Description : {{item.description}}</p>
    <p>Price : RM {{item.price}}</p>
    <p>Seller Name : {{item.creatorname}}</p>
    <p>Total Buyer : {{item.buycount}}</p>
    <p><button ion-button (click)="openModal({charNum: item.$key, title : item.title, desc: item.description, price : item.price})" class="full">Update Item</button></p>
    <h2>Customer Order Item</h2>
    <ion-list>
      <ion-item *ngFor="let itemOrder of itemOrder | async">
        <ion-thumbnail item-start>
          <img [src]="itemOrder.buyerpic">
        </ion-thumbnail>
        <h2>{{itemOrder.buyername}}</h2>
        <p>{{itemOrder.buyeraddress}}</p>
      </ion-item>
    </ion-list>
  </div>
  </div>
</ion-content>
